@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;700&family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}
body {
  width: 100%;
  height: auto;
  background: linear-gradient(to bottom right, blue, #06070e) repeat fixed;
  /* background: #181923; */
  font-family: 'Heebo', sans-serif;
}
.wrapper {
  max-width: 100%;
  height: auto;
  color:#E2E2E5;
}

/* HEADER */
header {    
    width:80%;
    margin: 25px auto;
    height: 470px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.presentation h1 {
    font-weight: 700;
    font-size: 4.3rem;
}
.presentation .slogan {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 2.1rem;
}
.presentation .pres {
    width: 180px;
    background: #C91151;
    border-radius: 5px;
    color: #FFF;
    padding: 10px 10px;
    margin: 20px 0;
}
.portrait {
    objet-fit: left/cover;
}
.portrait img{
    height: 470px;
    clip-path:ellipse(50% 40%);
}

/* KNOWLEDGE */
.knowledge {
    font-family: 'Heebo', sans-serif;
    width:80%;
    margin: 120px auto;
}
.knowledge h2 {
    font-weight:300;
    font-size: 1.2rem;
    color: #11C92E;
    text-transform: uppercase;
}
h2 .help {
    font-weight: 500;
}
.knowledge h3 {
    font-weight: 500;
    font-size: 2rem;
}
.knowledge h4 {
    margin-top: 30px;
    text-align: center;
    font-weight: 300;
    font-size: 1.4rem;
}

.cards{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1rem;
    padding: 1rem;
}
.cards .card:last-child {
    grid-column: 5 / 9;
}
.card {
    background: #151620;
    border-radius: 20px;
    box-shadow: -3px 3px 5px #FFFFFF;
    padding: 50px;
    grid-column: span 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.card-title h2{
    margin: 45px auto;
    font-size: 20px;
    font-weight: 300;
    color: #FFF;
}


/* PROJECTS */
.projects {
    font-family: 'Heebo', sans-serif;
    min-height: 640px;
    width:100%;
    margin: 120px auto;
    background: #FFF;
}
.projects .projects__wrapper{
    width: 80%;
    margin: 0 auto;
}
.projects h2 {
    font-weight:300;
    font-size: 1.2rem;
    color: #11C92E;
    text-transform: uppercase;
    padding-top: 45px;
    margin: 15px
}
.website {
    margin-top: 45px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-row: 10vw;
    grid-gap: 1rem;
    padding: 1rem;
}
.resto {
    grid-column: 1 / 7;
}
.flag {
    grid-column: span 6;
}
.cssgrid {
    grid-column: span 3;
}
img {
    max-width: 100%;
    border-radius: 20px;
}

/* ABOUT */
.about {
        font-family: 'Heebo', sans-serif;
        width:80%;
        margin: 0 auto;
}
.about h2 {
        font-weight:300;
        font-size: 1.2rem;
        color: #11C92E;
        text-transform: uppercase;
    }


    /* Media Queries */

@media screen and (max-width: 920px) {
    header {
        flex-direction: column;
        height: 920px;
    }
}
@media screen and (max-width: 1000px) {
    .cards {
        display:flex;
        flex-direction: column;
    }
    .website {
        display:flex;
        flex-direction: column;
    }
    .resto {
        width: 100%;
        display:flex;
        flex-direction: column;
    }
    .resto img {
        max-width: 100%;
    }
    .cssgrid {
        align-self:center;
    }
}